tqdm
netCDF4

# tensorflow
# torch
# torchaudio
# torchvision
# huggingface_hub==0.21.4

pytorch_msssim

pytorch_lightning
datasets
wandb
timm

h5py
numpy
pandas
scipy
matplotlib

imageio
pysteps
fvcore
antialiased_cnns
einops
# cchardet
